.header__cart {
    width: 150px;
    text-align: center;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    z-index: 2;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-notice {
    right: -3px;
    position: absolute;
    top: -8px;
    padding: 0px 4px;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    line-height: 1.4rem;
    border-radius: 25px;
    border: 2px solid #EE4D2D;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: 35px;
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 5px;
    top: -36px;
    border-width: 25px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--nocart {
    padding: 28px 0;
}

.header__cart-list--nocart .header__cart-nocart-img,
.header__cart-list--nocart .header__cart-list-no-cart-msg {
    display: block;
    margin-left:  auto;
    margin-right: auto;
}

.header__cart-nocart-img {
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 15px;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 40vh; 
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}
.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    display: -webkit-box;
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    text-align: left;
    flex: 1;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multify {
    color: #757575;
    font-size: 0.9Srem;
    margin: 0 4px;

} 

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 450;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 350;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view.btn.btn-primary:hover {
    background-color: #F05D41;
}