.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 48px 0 32px 0;
    
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item__link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}