.select-input {
    position: relative;
    min-width: 200px;
    z-index: 1;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131, 131, 131);
    top: 1px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    display: none;
}

.select-input__link {
    text-decoration: none;
    padding: 4px 0;
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input__link:hover {
    color: var(--primary-color);
}

